
# Press
/press/wp-content/uploads/
/press/wp-content/blogs.dir/
/press/wp-content/upgrade/
/press/wp-content/backup-db/
/press/wp-content/cache/
/press/wp-content/backups/
/press/wp-content/db.php
/press/xmlrpc.php
/press/readme.html
/press/license.txt
/press/wp-config-sample.php
/press/.maintenance
/press/.htaccess

# General
composer.phar
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Environment
.env
.env.test
.env*.local

# Logs
logs
*.log
*.pid

# Temp
tmp/
temp/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
*.ps1
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# IDE
.idea/
